* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb; /*Light blue background */
    /* background-image: url(./Assets/bg.jpeg); */
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    /* background-color: #87ceeb; */
    background-image: url(./Assets/bg.jpeg);
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #fff;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 24px;
    background-color: #FF6347; /* Tomato color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

#startButton:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.new-background body, .new-background .game-container, .new-background canvas {
    background-color: #333; /* Dark background as an example */
    background-image: url(./Assets/Forest.jpg); /* Path to your new background image */
    transition: background 0.5s ease; /* Smooth transition */
}

.night-background body, .night-background .game-container, .night-background canvas {
    background-color: #333; /* Dark background as an example */
    background-image: url(./Assets/Night.jpg); /* Path to your new background image */
    transition: background 0.5s ease; /* Smooth transition */
}

body, .game-container, canvas {
    transition: background 0.5s ease;
}

.question-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 20;
}

.question-overlay button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
